.img_zoom {
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 15000;
  background-color: black;
}
.img_zoom img {
  height: 100%;
}
.img_zoom h2 {
  margin-top: 0px;
}
.img_zoom svg {
  font-size: 16pt;
  position: absolute;
  margin-top: 5px;
}
.img_zoom .close {
  height: 50px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .img_zoom img {
    height: auto;
    width: 100%;
  }
}
@media screen and (max-width: 300px) {
  .img_zoom svg {
    margin-top: 85px;
    color: black;
  }
}
