.lang {
  margin-top: 50px;
}
.lang .fl {
  cursor: pointer;
  border: solid 1px #cccccc;
  text-align: center;
  margin-left: 2px;
  min-width: 50px;
  color: #187751;
  transition: 0.5s;
  background-color: #fff;
}
.lang .fl:hover {
  background-color: rgb(206, 209, 206);
}
.langActive a {
  background-color: rgb(206, 209, 206);
}
.lang .row {
  display: inline-flex;
}

.lang a {
  text-decoration: none;
  display: block;
  color: black;
  height: 25px;
}
